################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MF152004
/MF152004.Common/obj
/MF152004.Common/bin
/MF152004.Models/obj
/MF152004.Models/bin
/MF152004.Webservice/obj
/MF152004.Webservice/bin
/MF152004.Webservice/obj
/MF152004.Webservice/bin
/MF152004.Webservice.ComTest/obj
/MF152004.Webservice.ComTest/bin
/MF152004.Workerservice/obj
/MF152004.Workerservice/bin
/MF152004.Workerservice/obj
/MF152004.Workerservice/bin
/MF152004.Workerservice.ComTest/obj
/MF152004.Workerservice.ComTest/bin
/.vs
/MF152004.Webservice/MF152004-100-001.db
/MF152004.Webservice/MF152004-100-001.db-shm
/MF152004.Webservice/MF152004-100-001.db-wal
/BrandprinterTest/obj
/BrandprinterTest/bin
/MF152004.Webservice/MF152004-100-000.db
/MF152004.Webservice/MF152004-100-000.db-shm
/MF152004.Webservice/MF152004-100-000.db-wal
